 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <hr class="star-light"> -->
		    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dan is a data scientist interested in leveraging data to answer business questions. He's experienced in a variety of machine learning, analytical, and statistical techniques.</p>
                </div>
                <div class="col-lg-4">
                    <p>In a previous life, Dan was an academic specializing in population/conservation genetics with research that focused on using genetics to answer questions of concern for species management. </p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme 
                    </a>
                </div>
-->
            </div>
        </div>
    </section>
